.embed-iframe {
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

.embed-collapse {
  padding: 5px 5px !important;
  position: relative;
  width: 100%;
}

.embed-collapse iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}


.facebook-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}

.facebook-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#weekpicker .datepicker table tr td span.active{
    background: #04c!important;
    border-color: #04c!important;
}
#weekpicker .datepicker .datepicker-days tr td.active {
    background: #04c!important;
}
#weekpicker .datepicker .datepicker-days tr td.active~td, #weekpicker .datepicker .datepicker-days tr td.active {
    color: #fff;
    background-color: #04c;
    border-radius: 0;
}

#weekpicker .datepicker .datepicker-days tr:hover td, #weekpicker .datepicker table tr td.day:hover, #weekpicker .datepicker table tr td.focused {
    color: #000!important;
    background: #e5e2e3!important;
    border-radius: 0!important;
}
